@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
$mainFont: "Libre Franklin", sans-serif;

// ## Colors
// ### Primary

$Blue: hsl(223, 87%, 63%);

// ### Secondary

$PaleBlue: hsl(223, 100%, 88%);
$LightRed: hsl(354, 100%, 66%);

// ### Neutral

$Gray: hsl(0, 0%, 59%);
$VeryDarkBlue: hsl(209, 33%, 12%);
